{% extends 'myapp/base.html' %}
{#{% block myhdg %}Hello {{ username }} {% endblock %}#}
{% block body_block %}
    <p>{{ msg }}</p>
    <p>{{ last_login }}</p>
    {% if request.user.client.photo %}
        <div>
            <img src="{{ request.user.client.photo.url }}" height="200" />
        </div>
    {% endif %}
    {% if user.is_authenticated %}
{#        <a href="{% url 'myapp:upload_photo' %}">upload photo</a>#}
    {% endif %}
{#    {% if user.is_authenticated %}#}
{#        <form action="" method="post" enctype="multipart/form-data">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <input type="submit" value="upload photo" />#}
{#        </form>#}
{#    {% endif %}#}
    {% if cat_list %}
        <h2>List of Categories</h2>
        <ol>
            {% for cat in cat_list %}
                <li>
                    <a href="{% url 'myapp:cat_no' cat.id %}">{{ cat.name}}</a>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <strong>There are no available categories!</strong>
    {% endif %}
{#    <p><a href="{% url 'myapp:about' %}">About Page</a></p>#}
{% endblock %}